@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.consumption_calculation {
  .top {
    @include topPopup;
  }

  .content {
    .date {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      gap: 10px;

      .input_item {
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
          font-weight: 600;
          margin-bottom: 5px;
        }

        input,
        select {
          background-color: transparent;
          padding: 7px 10px;
          border: 1px solid var(--border-color);
          border-radius: 5px;
          font-size: 14px;
          width: 100%;
          // filter: invert(1);
          color: var(--text-color);

          option {
            color: black;
            height: 30px;
          }
        }

        .css-13cymwt-control,
        .css-13cymwt-control:focus {
          border: 1px solid var(--border-color);
          color: var(--text-color);
          background-color: transparent;

          .css-1nmfiq5-menu {
            color: black;
          }
        }

        /* Styles for the calendar icon in normal state (white color) */
        input[type="date"]::-webkit-calendar-picker-indicator {
          filter: invert(1);
        }

        /* Styles for the calendar icon in a different state (black color) */
        input[type="date"]:focus::-webkit-calendar-picker-indicator {
          filter: invert(0);
        }
      }

      .btn_search {
        padding: 7px 15px;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 4px;
        width: 100%;
      }
    }

    .result_calculation {
      .items {
        border: 1px solid var(--border-color);
        border-radius: 8px;
        overflow: hidden;

        .item {
          display: flex;
          align-items: center;

          &:not(:last-child) {
            border-bottom: 1px solid var(--border-color);
          }

          h4 {
            display: flex;
            align-items: center;
            gap: 6px;
            font-weight: 600;
            flex: 1;
            padding: 12px;

            &.en {
              border-right: 1px solid var(--border-color);
            }

            &.ar {
              border-left: 1px solid var(--border-color);
            }

            svg {
              color: $primary-color;
            }
          }

          span {
            padding: 12px;
            flex: 1;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}
