@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.pagination {
  margin-top: 15px;
  .items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .item {
      width: 32px;
      height: 32px;
      @include flex(center, center);
      border-radius: 8px;
      background-color: #0a1a29;
      box-shadow: var(--box-shadow);

      &.active {
        background-color: $primary-color;
      }
    }
  }
}
