@import "../../sass/mixins.scss";

.mail_box {
  .top {
    @include topPopup;
  }

  .content {
    .notifications_items {
      .notification {
        display: flex;
        gap: 10px;
        background-color: var(--bg-section);
        padding: 8px;
        border-radius: 8px;

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        .icon {
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          background-color: var(--bg-main);
        }
      }
    }
  }
}
