.login {
  background-color: var(--bg-main);
  height: 100vh;
  margin: 0 20px;

  .line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 78px);

    .login_form {
      width: 100%;
      background-color: var(--bg-section);
      padding: 40px 20px;
      border-radius: 10px;

      .input_item {
        display: flex;
        align-items: center;
        gap: 8px;
        border-bottom: 1px solid var(--border-color);
        // border-radius: 7px;
        padding: 12px;

        &:not(:last-child) {
          margin-bottom: 25px;
        }

        input,
        select {
          flex: 1;
          background-color: transparent;
          border: none;
          outline: none;

          option {
            color: black;
          }
        }
      }

      button {
        background: linear-gradient(
          303deg,
          rgb(3, 39, 59) 0%,
          rgb(15, 118, 136) 27%,
          rgb(17, 219, 133) 73%,
          rgb(8, 198, 117) 100%
        );
      }
    }
  }
}
