@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";

.popup_extending_package {
  @include popupStyle;

  .top {
    @include topPopup;
  }

  .content {
    form {
      .input_item {
        select {
          width: 100%;
          outline: none;
          border: 1px solid var(--border-color);
          border-radius: 5px;
          padding: 8px;
          background-color: transparent;

          &:focus {
            border: 1px solid $primary-color;
          }

          option {
            font-size: 14px;
            width: 100%;
          }
        }
      }
    }
  }
}
