@import "../../../sass/mixins.scss";

.popup_change_package {
  @include popupStyle;

  .top {
    @include topPopup;
  }

  .content {
    .current_package {
      padding: 8px;
      border-radius: 7px;
      background-color: var(--bg-section);
    }
  }
}
