@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";

.popup_change_package {
  @include popupStyle;

  .top {
    @include topPopup;
  }

  .content {
    .current_package {
      padding: 8px;
      border-radius: 7px;
      background-color: var(--bg-section);
    }

    .packages_boxs {
      max-height: 80vh;
      overflow: auto;

      .box {
        padding: 20px;
        border-radius: 8px;
        background-color: var(--bg-main);
        box-shadow: var(--box-shadow);
        border: 1px solid var(--border-color);

        &.active {
          background-color: var(--bg-section);
        }

        .package_name {
          font-size: 22px;
        }

        .icon {
          color: $primary-color;
        }
      }
    }
  }
}

// start warning_popup
.warning_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 76%);
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    background-color: var(--bg-main);
    padding: 35px 15px 15px;
    border-radius: 8px;
    margin: 10px;
    position: relative;
    text-align: center;
    border: 1px solid var(--border-color);

    .close_popup {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}
// end warning_popup
