@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.special_subscriptions {
  .top {
    @include topPopup;
  }

  .content {
    .subscriptions_boxs {
      max-height: 80vh;
      overflow: auto;

      .box {
        padding: 20px;
        border-radius: 8px;
        background-color: var(--bg-main);
        box-shadow: var(--box-shadow);
        border: 1px solid var(--border-color);

        &.active {
          background-color: var(--bg-section);
        }

        .package_name {
          font-size: 22px;
        }

        .icon {
          color: $primary-color;
        }
      }
    }

    .pagination {
      margin-top: 15px;
      .items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .item {
          width: 32px;
          height: 32px;
          @include flex(center, center);
          border-radius: 8px;
          background-color: #0a1a29;
          box-shadow: var(--box-shadow);

          &.active {
            background-color: $primary-color;
          }
        }
      }
    }
  }
}
