@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.charge_package {
  .top {
    @include topPopup;
  }

  .content {
    .offers {
      .title {
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 20px;
      }

      .items {
        padding: 8px;
        border-radius: 6px;
        border: 1px dashed rgb(212, 212, 212);
        margin-bottom: 12px;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          .icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e7ffed;

            svg {
              color: $primary-color;
            }
          }

          h5 {
            font-size: 16px;
            margin-bottom: 0;
          }
        }
      }
    }

    form {
      .inputs_radio {
        .input_radio {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          padding: 8px;
          border-radius: 7px;
          width: 100%;
          background-color: #0a1a29;

          label {
            color: white;
          }
        }
      }

      .input_item {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 20px;
        border: 1px solid var(--border-color);
        padding: 12px;
        border-radius: 5px;

        input {
          flex: 1;
          background-color: transparent;
          outline: none;
        }
      }

      .btns {
        button {
          font-size: 17px;
        }
      }
    }
  }
}
