.home {
  overflow-x: hidden !important;
}

.primary-shadow {
  position: absolute;
  z-index: 7;
  bottom: 0%;
  right: 0%;
  padding: 17% 25%;
  background: #21c281;
  filter: blur(8em);
  z-index: -1;
}

.primary2-shadow {
  position: absolute;
  z-index: 7;
  top: -5%;
  left: 0%;
  padding: 17% 25%;
  background: #51efc5;
  filter: blur(8em);
  z-index: -1;
}
