@import "../../sass/variables.scss";

.box_info_package {
  background-color: var(--bg-section);
  border-radius: 7px;
  overflow: hidden;
  box-shadow: var(--box-shadow);

  .package {
    .icon {
      background-color: var(--bg-main);
    }
  }

  @keyframes growProgressBar {
    0%,
    33% {
      --pgPercentage: 0;
    }
    100% {
      --pgPercentage: var(--value);
    }
  }

  @property --pgPercentage {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }

  .progressbar {
    --size: 10rem;
    --fg: #238a5e;
    --bg: rgb(221, 255, 237);
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 ease forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: radial-gradient(
        closest-side,
        white 87%,
        transparent 0 99.9%,
        white 0
      ),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
    margin: 12px auto;
    transition: all 3s linear;

    &.percent-0 {
      --bg: rgb(255, 221, 225);
    }
  }

  .progressbar::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) "%";
  }
}
