@import "../../../sass/mixins.scss";

.PopupCharge {
  @include popupStyle;

  .top {
    @include topPopup;
  }

  .content {
    form {
      .inputs_radio {
        .input_radio {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
        }
      }

      .input_item {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 20px;
        border: 1px solid var(--border-color);
        padding: 12px;
        border-radius: 5px;

        input {
          flex: 1;
          background-color: transparent;
          outline: none;
        }
      }

      .btns {
        button {
          font-size: 17px;
        }
      }
    }
  }
}
